body
{
    margin: 0;
    font-family: "Work sans", sans-serif;
}

#brand_name
{
    font-size: 30px;
}

nav
{
    background-color: rgb(216, 215, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    #brand_name
    {
        color: #015e5e;
    }

    #nav_opc
    {
        a
        {
            text-decoration: none;
            padding: 10px;
            font-weight: bold;
            font-size: 15px;
            color: rgb(34, 33, 33);
        }
        display: flex;
        gap: 30px;

        #login_button
        {
            padding: 10px 20px 10px 20px;
            color: white;
            background-color: #007979;
        }
    }
}

#top_part
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;

    #left_side_text
    {
        a
        {
            background-color: #007979;
            color: white;
            font-weight: bold;
            font-size: 20px;
            padding: 10px 30px 10px 30px;
            text-decoration: none;
        }
        width: 500px;
        padding-left: 150px;
    }

    h2
    {
        font-size: 55px;
        font-weight: bold;
        width: 600px;
    }
    
    p
    {
        padding-bottom: 20px;
    }

    #big_image
    {
        display: flex;
        justify-content: right;
        margin-top: 60px;
        margin-right: 200px;
        border-radius: 10px;
    }
}

#bottom_list_thing
{
    background-color: rgb(216, 215, 215);

    #services
    {
        color: #007979;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding: 80px 40px 30px 40px;
    }

    #services_list
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
    }

    .elements
    {
        text-align: center;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 30px;
        a
        {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        img
        {
            border-radius: 10px;
        }
    }
}