#brand_name
{
    font-size: 30px;
}

nav
{
    background-color: rgb(158, 156, 156);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

#nav_opc
{
    display: flex;
    gap: 40px;
}

#top_part
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

#left_side_text
{
    a
    {
        background-color: aqua;
        color: white;
        font-weight: bold;
        font-size: 26px;
        padding: 5px;
    }
    width: 500px;
    padding-left: 150px;
}

h2
{
    font-size: 55px;
    font-weight: bold;
}

#big_image
{
    display: flex;
    justify-content: right;
    padding-right: 200px;
}

#bottom_list_thing
{
    /* display: flex;
    justify-content: ; */
    background-color: gray;
}

#services
{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#services_list
{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.elements
{
    text-align: center;
    padding: 10px;
    background-color: red;
}

